<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.reyboz.bustorino">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="com.google.zxing.client.android.SCAN" />
        </intent>
        <intent>
            <action android:name="com.google.zxing.client.android.ENCODE" />
        </intent>
    </queries>

    <application
            android:name=".BustoApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/networks_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar">

        <activity
                android:name=".ActivityExperiments"
                android:label="@string/experiments"
                android:theme="@style/MapTheme">
        </activity>
        <activity
                android:name=".ActivityPrincipal"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="www.gtt.to.it"
                        android:pathPrefix="/cms/percorari/arrivi"
                        android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="gtt.to.it"
                        android:pathPrefix="/cms/percorari/arrivi"
                        android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="m.gtt.to.it"
                        android:pathPrefix="/m/it/arrivi.jsp"
                        android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ActivityAbout"
                android:label="@string/about"
                android:parentActivityName=".ActivityPrincipal"
                android:theme="@style/AboutTheme">

            <!-- API < 16: -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ActivityPrincipal"/>
        </activity>

        <provider
                android:name=".data.AppDataProvider"
                android:authorities="it.reyboz.bustorino.provider"
                android:enabled="true"
                android:exported="false">
        </provider>

        <!-- Don't show the additional frame on samsung phones -->
        <meta-data
                android:name="com.samsung.android.icon_container.has_icon_container"
                android:value="true"/>

        <activity
                android:name=".ActivitySettings"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".ActivityPrincipal"
                android:theme="@style/AppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="it.reyboz.bustorino.ActivityPrincipal"/>
        </activity>
    </application>

</manifest>