<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.reyboz.bustorino"
          android:versionCode="24"
          android:versionName="1.9.1">

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="25"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ActivityMain"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="www.gtt.to.it"
                        android:pathPrefix="/cms/percorari/arrivi"
                        android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="gtt.to.it"
                        android:pathPrefix="/cms/percorari/arrivi"
                        android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="m.gtt.to.it"
                        android:pathPrefix="/m/it/arrivi.jsp"
                        android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ActivityAbout"
                android:label="@string/about"
                android:parentActivityName=".ActivityMain"
                android:theme="@style/AboutTheme">

            <!-- API < 16: -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ActivityMain"/>
        </activity>
        <activity
                android:name=".ActivityFavorites"
                android:label="@string/title_activity_favorites"
                android:parentActivityName=".ActivityMain"
                android:theme="@style/FavTheme">

            <!-- API < 16: -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ActivityMain"/>
        </activity>

        <provider
                android:name=".middleware.AppDataProvider"
                android:authorities="it.reyboz.bustorino.provider"
                android:enabled="true"
                android:exported="false">
        </provider>

        <service
                android:name=".middleware.DatabaseUpdateService"
                android:exported="false">
        </service>
        <!-- Don't show the additional frame on samsung phones -->
        <meta-data
                android:name="com.samsung.android.icon_container.has_icon_container"
                android:value="true"/>

        <activity
                android:name=".ActivitySettings"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".ActivityMain"
                android:theme="@style/AppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="it.reyboz.bustorino.ActivityMain"/>
        </activity>
    </application>

</manifest>
