<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.reyboz.bustorino"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>


    <application
        tools:node="merge"
        android:label="@string/app_name_debug"
        tools:replace="android:label"
        >
        <activity
                android:name=".ActivityPrincipal"
                android:label="@string/app_name_debug"
                tools:replace="android:label"
        />

        <provider
                android:name=".data.AppDataProvider"
                android:authorities="it.reyboz.bustorino.debug.provider"
                android:enabled="true"
                android:exported="false"
                tools:node="replace">
        </provider>

    </application>

</manifest>
