<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.reyboz.bustorino"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>


    <application
        tools:node="merge"
        >

        <provider
                android:name=".middleware.AppDataProvider"
                android:authorities="it.reyboz.bustorino.debug.provider"
                android:enabled="true"
                android:exported="false"
                tools:node="replace">
        </provider>

    </application>

</manifest>
